body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  /* en css normal tambien se pueden usar variables pero es un poco nuuevo y no todos los navegadores lo soportan */
  --rojo: red;
}

#layout {
  display: flex; /* asi la caja automaticamente toma el 100% de pagina */
  /* display: inline-flex;  */ /* se basa en el tamaño de los elementos que tiene dentro la caja */
  /*  flex-direction: row; */ /* para que el flex se acomode en fila */
  /* flex-wrap: nowrap;  */ /* es para que se comporte normal como flex y que si las cajitas son mas grande que la caja master, estas se van a salir y continuar su camino */
  /* flex-wrap: wrap; */ /* en caso de que las cajas sobrepasen el tamaño de la caja master, este elemento wrap hara que se comporte como tipo float y los elemntos que no quepan simplemente se pasaran a la parte de abajo */
  flex-flow: row wrap; /* con esta linea te ahorras hacer la linea flex-direction y flex-wrap y asi lo haces en una unica linea */
  justify-content: space-around; /* esto justifica el contenido y funciona como si fuera un floa left o float right etc, paracentrar solo es center */
  height: 500px;
  align-items: flex-start; /* es como justify-content pero en vertical */
  border: 3px solid black;
  padding: 5px;
}

.caja {
  /* flex-basis: calc(
    (100% / 3) - 68px
  ); */ /* se pueden hacer calculos tambien y sirve el flex-basis para dar un tamaño minimo como un min-width: pero en flex;*/
  /*  flex-basis: 25%; */ /* funciona como un width pero en flex, en cambio esta propiedad si es flexible pero no automaticamenteew*/
  /*   flex-grow: 1;  */ /* este solo se usa en los hijos de la caja master, si ponemos 1 significa que los elementos que estan dentro de la caja master se acomodaran automaticamente al tamaño que ocupa el master */
  /* si se utiliza flex-basis y flex-grow juntos el primero especifica los tamaños y el segundo hara que sea algo como responsive ya que este hara que se ajusten automaticamente las cajas */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 20px;
  border: 4px solid #222;
  margin: 10px;
  background: gray;
}

.red {
  align-self: flex-start;
  /* flex-grow: 3; */
  /* order: 4; */
  background: var(--rojo);
}

.green {
  margin-top: 10%;
  /*  order: 2; */
  background: green;
}

.blue {
  align-self: center;
  /* order: 1; */ /* order se usa en flex pero se usa en los elementos que estan dentro de la caja master, y sirve para ordenar las cajas (cuando solo se va aordenar una caja se pone -1, pero si son varios ya se pueden acomodar como 1,2,3,4, etc) */
  background: blue;
  /*  flex-grow: 0;
  flex-shrink: 0; */ /* esta propiedad al contrario de flex-grow, en lugar de dar mas tamaño al elemento, esta le quita tamaño y la va haciendo mas pequeña la caja */
}

.orange {
  align-self: flex-end;
  /*  flex-basis: 100%; */
  /* flex-grow: 10; */
  /*   order: 3; */
  background: orange;
}
