@media (max-width: 1250px) {
  .wrap {
    width: 90%;
    margin: 0px auto;
  }
  #banner h1 {
    font-size: 35px;
    text-align: center;
    margin: 33px auto;
  }
  .card {
    width: 16.5%;
    margin: 1.45%;
  }
  .card p {
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  #articles {
    width: 65%;
  }
  #articles article {
    width: 97%;
  }
  #footer .wrap > div {
    width: 24%;
  }

  #footer #browsers img {
    width: 15%;
  }
  #footer h5 {
    font-size: 30px;
  }
}

@media (max-width: 1080px) {
  /* del pixel 0 al 1080 tendra estos estilos */
  .card .category {
    font-size: 17px;
  }
  .card .description {
    font-size: 13px;
  }
  #articles {
    width: 65%;
  }

  #lateral {
    width: 29%;
  }
  #lateral input[type="text"] {
    width: 78%;
  }
  #login input[type="email"],
  #login input[type="password"] {
    width: 75%;
  }
  #login input[type="button"],
  #login input[type="submit"],
  #login input[type="reset"],
  #input button {
    width: 36%;
    font-size: 13px;
  }
  #login a {
    font-size: 11px;
  }
  #footer h5 {
    font-size: 23px;
  }
}

@media (max-width: 970px) {
  #banner h1 {
    font-size: 30px;
    text-align: center;
    margin: 33px auto;
  }
  #articles {
    width: 65%;
  }
  #footer .wrap > div {
    width: 27.6%;
    margin: 20px;
  }
  #footer h5 {
    font-size: 26px;
  }
  #footer ul li a {
    font-size: 21px;
  }
  #footer #browsers img {
    width: 11%;
  }

  #info p img {
    text-align: center;
    width: 100%;
    padding-left: 5px;
  }
}
@media (max-width: 925px) {
  #banner h1 {
    font-size: 28px;
    text-align: center;
    margin: 33px auto;
  }
  #lateral {
    width: 25%;
  }
  #lateral input[type="text"] {
    width: 78%;
  }
  #login input[type="email"],
  #login input[type="password"] {
    width: 75%;
  }
  #login input[type="button"],
  #login input[type="submit"],
  #login input[type="reset"],
  #input button {
    width: 36%;
    font-size: 13px;
  }
  #login a {
    font-size: 11px;
  }
}
