/*FUENTES*/

/* En las siguientes lineas se importan la fuentes que se ocuparán tratando de agregar varios formatos para los distintos tipos de navegadores */
@font-face {
  font-family: "TrebuchetMS";
  src: url("fonts/TrebuchetMS.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url("fonts/BebasNeue.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url("fonts/websymbols-regular-webfont.eot");
  src: url("fonts/websymbols-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* iefix es para que funcione en internet explorer */
      url("fonts/websymbols-regular-webfont.woff") format("woff"),
    url("fonts/websymbols-regular-webfont.ttf") format("truetype"),
    url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: bold; /* tipo de fuente, normal, negritas, sesgado, etc */
  font-style: normal;
}

/* GENERALES */
* {
  margin: 0px;
  padding: 0px;
}
body {
  background: url("../img/pattern.png");
}
.wrap {
  width: 1250px;
  margin: 0px auto; /* asi se pone cuando se quiere centrar un elemento */
}
.gear,
.icon {
  font-family: "WebSymbolsRegular";
}

/* CABECERA */
#header {
  width: 100%;
  height: 70px;
  background-color: black;
  font-family: "BebasNeue";
  color: white;
}

#logo {
  float: left;
  width: 200px;
  background-color: #37bcf9;
  text-align: center;
  margin-top: 8px;
  margin-left: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden; /* todo lo que se salga fuera del logo, se va a ocultar */
  transition: all 300ms; /* trancicion al pasar por encima */
}
#logo .gear {
  display: block;
  float: left;
  font-size: 30px;
  margin-top: 8px;
  margin-left: 26px;
}
#logo h3 {
  display: block;
  float: right;
  font-size: 40px;
  margin-top: 5px;
  transition: all 300ms;
  margin-right: 65px;
}

#menu {
  float: right;

  height: 70px;
  background: black;
}

#menu ul li {
  font-size: 24px;
  display: inline-block;
  margin: 0px 20px 0px 20px;
  letter-spacing: 1px;
  line-height: 75px;
}

#menu ul li a {
  display: block;
  color: white;
  text-decoration: none;
  transition: all 300ms;
}

#menu ul li a:hover {
  color: #37bcf9;
  /* transform: modifica escala, rotacion, etc, y puedes modificar textos en css sin que afecte a toda la maquetación*/
  transform: scale(
    1.2,
    1.2
  ); /* aqui el efecto es que aumenta la escala de las letras que estan en la etiqueta a */
}

/* BANNER */

#banner {
  width: 95.5%;
  height: 100px;
  border: 10px solid white;
  box-shadow: 0px 0px 2px gray;
  background: url("../img/bakbaner.png");
  background-position: -200px -200px;
  margin: 20px auto;
}

#banner h1 {
  display: block;
  width: 850px;
  font-family: "BebasNeue";
  color: white;
  font-size: 45px;
  font-weight: normal;
  letter-spacing: 2px;
  text-shadow: 2px 2px 1px black;
  margin: 27px auto;
}

/* TARJETAS */
.card {
  width: 204px;
  height: 305px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #ddd;
  background: white;
  float: left;
  margin: 22px;
  margin-top: 40px;
  cursor: pointer;
}

.card:last-child {
  margin-right: 0px;
}

.card .icon {
  display: block;
  width: 100%;
  height: 130px;
  font-size: 50px;
  line-height: 110px;
  text-align: center;
  margin: 0px auto;
}

.card .category {
  width: 100%;
  height: 50px;
  font-family: "TrebuchetMS";
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  color: #00538c;
}

.card .description {
  width: 100%;
  margin-left: 0px auto;
  text-align: center;
  color: #1083cf;
  font-size: 15px;
  font-family: "TrebuchetMS";
}
/* BARRA LATERAL */

#lateral {
  width: 300px;
  min-height: 1200px;
  font-family: "TrebuchetMS";
  float: right;
  margin: 20px;
}

#lateral h3 {
  display: block;
  width: auto;
  height: 45px;
  line-height: 49px;
  background: url("../img/pxgray.png");
  box-shadow: 0px 1px 0px #393d3e, 1px 2px 0px #393d3e, 2px 3px 0px #393d3e,
    3px 4px 0px #393d3e;
  font-size: 30px;
  font-family: "BebasNeue";
  font-weight: normal;
  letter-spacing: 2px;
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom: 15px;
}
#lateral h3:first-child {
  margin-top: 0px;
}

#search {
  width: 90%;
  height: 30px;
  margin: 10px auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #ccc inset;
}
#lateral input[type="text"] {
  width: 85%;
  height: 30px;
  border: none;
  padding-left: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #ccc;
}

#lateral input[type="text"]:focus {
  color: #555;
}

#lateral input[type="button"],
#lateral input[type="submit"] {
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-left: 1px solid #ccc;
  color: #555;
  padding-left: 7px;
}
