/*
NOTA: CSS lee de arriba abajo, significa si sobreescribo algun estilo a alguna etiqueta, id, etc, se aplica el ultimo estilo que se alla asignado.
/*



#######SELECETORES#####
*/

/*
SELECTOR UNIVERSAL

* SI PONGO UN ASTERISCO EN CSS QUIERE DECIR QUE ESE ESTILO SE APLICARA A TODO EL DOCUMENTO CSS O EN SU CASO A TODO LO QUE SE ENCUENTRE DENTRO DE UNA SELECCION DE UNA ETIQUETA COMO SE MUESTRA EN UN EJEMPLO DE SLECTOR ATRIBUTO
*/
* {
  font-family: Arial, Helvetica, sans-serif; /* como esta en el * estas seran las fuentes predefinidas para la pagina web */
}

/*
SELECTOR DE ETIQUETA

Permite seleccionar cualquier etiqueta del documento html y esta afecta a todas las etiquetas que se llamen igual o dependiendo como se mande a llamar esa etiqueta
*/

h1 {
  background: #d11515; /* Color del Fondo */
  color: #faf6f6; /* Color del texto */
  padding: 10px; /* espacio entre el contenido y el borde de la caja */
}

a {
  font-size: 18px; /* Tamaño de la fuente */
  color: seagreen; /* Color del texto */
  text-decoration: none; /* La decoración del texto, puede ser subrayado, doble raya, ninguno, etc... */
}

footer a {
  font-size: 20px; /* Tamaño de la fuente */
  color: blueviolet; /* Color del texto */
  text-emphasis: none; /* Define que tipo de enfasis tedra el texto */
}

/*
SELECTOR DE ID

Permite seleccionar cualquier elemento al que se le haya asignado una ID, si se quieren aplicar a distintos ID el mismo estilo, estos se separan por una coma.

ID SON PARA UN SOLO ELEMENTO
CLASE ES PARA VARIOS ELEMENTOS
*/

#descripcion {
  border: 3px solid black; /* Borde */
  padding: 15px; /* distancia entre el texto y el borde de la caja */
}

/*
SELECTOR DE CLASE

A diferencia de ID, el selector es mejor utilizarlo para varios objetos o etiquetas, etc... y el de ID se recomienda que solo sea a un unico elemento
*/

.parrafo {
  font-style: italic; /* Estilo de la fuente */
  text-decoration: underline; /* decoración del texto */
  font-weight: bold; /* es el peso de la fuente y se puede asignar los siguientes  normal | bold | bolder | lighter | 100 | 200 | 300 | 400 | 500 | 600 | 700 | 800 | 900  */
}

.parrafo1,
.parrafo3 {
  background-color: blue;
  color: beige;
  padding: 3px;
}

.parrafo1 {
  background-color: rgb(231, 122, 19);
  color: rgb(4, 2, 14); /* color de la fuente demostrada de en formato rgb */
}

/*
SELECTOR DE ATRIBUTO

*/

#usuario form {
  border: 5px solid blue;
  margin-top: 15px;
  margin-bottom: 15px;
}

#usuario form * {
  display: block; /* La propiedad especifica el tipo de cuadro de representación utilizado para un elemento. en si es la manera en la que se acomodoran los bloques, puede ser en las siguientes formas, inline | block | inline-block | list-item | run-in | compact | table | inline-table | table-row-group | table-header-group | table-footer-group | table-row | table-column-group | table-column | table-cell | table-caption | ruby | ruby-base | ruby-text | ruby-base-group | ruby-text-group | none*/
  padding: 20px;
}

/*
EJEMPLO DE SELECTOR DE ATRIBUTO

*/
input[type="text"] {
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
}

input[type="submit"] {
  background: chartreuse;
  color: wheat;
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid black;
  cursor: pointer;
}

/*
SELECTORES HIJO
*/

#menu > li > a {
  font-size: 18px;
  color: red;
  text-decoration: none;
}

/*PRIORIDADES*/
/*Mientras mas especifica una regla, más prioridad tiene, como en el siguiente ejemplo con h1*/
#saludo h1 {
  background: greenyellow;
}

h1 {
  background: rgb(11, 204, 230) !important;
}
h1 {
  background: purple;
}

/*Por lo general el diseño que se encuentra más abajo del css es el diseño que predomina, pero si hay un disño css que utilice los mismos objetos y es más especifico, entonces predominaria ese en la parte especifica seleccionada e ignorara los diseños anteriores, pero en cambio si se agrega el mismo objeto pero con la palabra !important, entonces este automaticamente tiene toda la prioridad en todos los objetos con el mismo nombre y se quedaria con ese diseño sin inportar en que parte del documento este escritp*/
