body{
    background-color: #afafaf;
   /* background-image: url("img/imagen1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    */
    color: black;
    text-align: justify;
    text-indent: 15px;
}

#caja{
    border: 3px solid green;
    padding: 20px;
    background-color: #441cf5;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 50px; /*ALTURA DE LINEA*/
    text-transform: capitalize;
    text-decoration: underline;
}

h2{
    color: red;
    background-color: aqua;
    border: 2px solid green ;
}
