/* Para el responsive siempre hay que usar el ancho de las cajas en porcentajes % y no en tamaños fijos como lo es en pixeles px */
* {
  margin: 0px; /* permie establecer los cuatro márgenes de un elemento a la vez */
  padding: 0px; /* Es el espacio entre el elemento del centro y el borde de una caja */
}
.clearfix {
  /* para que se limpien los flotados y detecte el tamaño que tienen los elementos de adentro */
  float: none; /* un elemento del flujo normal puede colocarse a lo largo del lado izquierdo o derecho o ninguna lado de su contenedor */
  clear: both; /* La propiedad define los lados del elemento que no deben flotar. Apaga la flotación a ese lado específico (clear: none | left | right | both)*/
}
#container {
  width: 70%; /* Ancho */
  background: red; /* Fondo de color */
  margin: 0px auto; /* funciona para centrar */
  margin-top: 40px; /* margen de 40px por la parte de arriba */
  margin-bottom: 40px; /* margen de 40px por la parte de abajo */
  font-family: Arial, Helvetica, sans-serif; /* Tipografia */
}
header {
  width: 100%;
  height: 150px;
  background: lightskyblue;
  color: #333333; /* color de la letra */
  line-height: 150px; /* define el alto minimo de una linea de texto, con esta puedes mover un texto hacia arriba o hacia habajo para acomodarlo */
  text-align: center; /* acomoda un elemento entre izquierda y derecha, (start | end | left | right | center | justify | match-parent | start end ) */
}
aside {
  width: 25%;
  min-height: 700px;/* altura minima del elemento */
  float: left;
  background: #ccc;
  text-align: center;
  line-height: 700px;
}
#articles {
  background-color: lemonchiffon;
  width: 75%;
  min-height: 700px;
  float: left;
}

#articles article {
  width: 25%;
  height: 150px;
  background: green;
  color: white;
  line-height: 150px;
  text-align: center;
  border: 2px solid white; /* El borde de la caja, se le pueden dar distintos atibutos como color, ancho, tipo de borde o animación */
  float: left;
  margin: 15px;
}

/* RESPONSIVE */ /* media query */

/* Desde la anchura 0 px hasta la anchura 888px habra ciertos estilos */
/* Pero a partir de 889px se ejecutaran los estilos por defecto (en caso de que no se hagan mas media query) */
@media (max-width: 888px) {
  /* se ejecutaran estos estilos */
  #articles article {
    width: 40%;
    background: red;
  }
}

@media (max-width: 700px) {
  /* se ejecutaran estos estilos */
  #container {
    overflow: hidden; /* en caso de que el texto de sobre salga hacia abajo de la caja, este creara un tipo de escrol para poder ver la informacion que resta  */
  }
  aside {
    float: none;
    min-height: auto;
    line-height: 20px;
    width: 91%;
    padding: 21px;
  }
  #articles {
    width: 100%;
  }
  #articles article {
    width: 90%;
    background: blue;
  }
}

@media (max-width: 554px) {
  body {
    background: lightsalmon;
  }
}
