/* Para el responsive siempre hay que usar el ancho de las cajas en porcentajes % y no en tamaños fijos como lo es en pixeles px */
* {
  margin: 0px;
  padding: 0px;
}
.clearfix {
  /* para que se limpien los flotados y detecte el tamaño que tienen los elementos de adentro */
  float: none;
  clear: both;
}
#container {
  width: 70%;
  background: red;
  margin: 0px auto; /* funciona para centrar */
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
  height: 150px;
  background: lightskyblue;
  color: #333333;
  line-height: 150px;
  text-align: center;
}
aside {
  width: 25%;
  min-height: 700px;
  float: left;
  background: #ccc;
  text-align: center;
  line-height: 700px;
}
#articles {
  background-color: lemonchiffon;
  width: 75%;
  min-height: 700px;
  float: left;
}

#articles article {
  width: 25%;
  height: 150px;
  background: green;
  color: white;
  line-height: 150px;
  text-align: center;
  border: 2px solid white;
  float: left;
  margin: 15px;
}

/* RESPONSIVE */ /* media query */

/* Desde la anchura 0 px hasta la anchura 888px habra ciertos estilos */
/* Pero a partir de 889px se ejecutaran los estilos por defecto (en caso de que no se hagan mas media query) */
@media (max-width: 888px) {
  /* se ejecutaran estos estilos */
  #articles article {
    width: 40%;
    background: red;
  }
}

@media (max-width: 700px) {
  /* se ejecutaran estos estilos */
  #container {
    overflow: hidden;
  }
  aside {
    float: none;
    min-height: auto;
    line-height: 20px;
    width: 91%;
    padding: 21px;
  }
  #articles {
    width: 100%;
  }
  #articles article {
    width: 90%;
    background: blue;
  }
}

@media (max-width: 554px) {
  body {
    background: lightsalmon;
  }
}
