#boton {
  display: block;
  padding: 20px;
  background-color: greenyellow;
  color: grey;
  width: 90px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid rgb(6, 58, 10);
  /*transition: all 3s*/ /*Este es el que hace la transicion*/
  /*transition: border 3s;*/ /*Este es el que hace la transicion*/
  transition: border 500ms, background 3s, border-radius 4s; /*Este es el que hace la transicion*/
}
#boton:hover {
  border-radius: 5px;
  background: orangered;
  color: whitesmoke;
  border: 3px solid blue;
}
/*animaciones*/
#caja {
  margin-top: 25px;
  width: 250px;
  height: 250px;
  background: blueviolet;
  color: white;
  border: 5px solid black;
  font-size: 20px;
  text-align: center;
  line-height: 200px;
  animation: desplazamientos;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes desplazamientos {
  0% {
    margin-left: 0px;
    transform: rotate(0deg);
  }
  50% {
    margin-left: 1200px;
    transform: rotate(360deg);
    border-radius: 999px;
  }
  75% {
    background: red;
  }
  77% {
    border: 10px dashed blue;
  }
  100% {
    margin-left: 0px;
    transform: rotate(0deg);
  }
}
