/*
Ejercicio Completo con HTML y CSS 
(HECHO) 1.- Crear un archivo HTML y vincularlo con CSS
(HECHO) 2.- Crear una estructura HTML que cuente con el contenido general, CABECERA, MENU, BARRA LATERAL, ()()SECCION DE CONTENIDO PRINCIPAL, ELEMENTOS DENTRO DEL CONTENEDOR PRINCIPAL Y FOOTER.
(HECHO) 3.- Todo el contenido debe estar dentro del contenedor general y su ancho será de 1200px.
(HECHO) 4.- Header debe ocupar el 100% del ancho y tener un texto grande centrado.
(HECHO) 5.- Menu debe tener los elemntos uno a un lado del otro.
(HECHO) 6.- el contenido principal debe tener un ancho del 70%
(HECHO) 7.- el contenido dentro del contenedor principal debe ser una cuadricula con 4 lineas de dos cajas.
(HECHO) 8.- La barra lateral debe tener un ancho del 30%.
(HECHO) 9.- El footer debe tener un ancho del 100% del div que lo contiene y debe estas abajo del todo.
*/

*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

#general{
    width: 1200px;
    border: 1px solid #cccccc;
    margin: 0px auto;
    margin-top: 20px;
}
#header{
    width: 100%;
    height: 100px;
    background: rgb(65, 65, 153);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    line-height: 90px; /*Mover en vertical*/
}
.clearfix{
    float: none;
    clear: both;
}
#menu{
    background-color: rgb(175, 175, 175);
}
#menu ul li{
    /*display: inline-block;*/ /*Para alinearlo en linea. el de abajo tambien funciona pero hay que agregar el claearfix para borrar el float y no halla problemas con el contenido anterior o siguiente*/
    display: block;
    float: left;
    border-right: 1px solid rgb(134, 133, 133);
}
#menu ul li a{
    display: block;
    padding: 15px;
    color: white;
}
#menu ul li:hover{
    background: rgb(65, 65, 153);
    cursor: pointer;
}
#menu ul li:hover a{
    color: rgb(18, 241, 92);
}
#contenido{
    float: left;
    width: 69%;
}
#lateral{
    float: left;
    width: 30%;
    border: 1px solid red;
    min-height: 500px;
    max-height: 650px;
    text-align: center;
    overflow-y: scroll; /*Hay distintos tipos de overflow*/
}
#contenido > h1{
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    color: #444;
    text-shadow: 1px 1px 2px rgb(74, 40, 226); /*SOMBRA en textos*/
}
#contenido .caja{
    width: 40%;
    height: 250px;
    background-color: #ccc;
    border: 1px solid grey;
    color: black;
    float: left;
    margin: 20px;
    margin-left: 40px;
    text-align: center;
    line-height: 200px;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px black;/*SOMBRA en cajas */
    border-radius: 10px 5px 60px 1px;
}
.sombra-interior{
    box-shadow: 0px 0px 5px black inset !important;/*SOMBRA INTERIOR en cajas  */ 
}
#footer{
    width: 100%;
    height: 55px;
    line-height: 55px;
    background: teal;
    text-align: center;
    color: #444;
    border-top: 1px solid #ccc;

}
.libre{
    top: 300px;
    left: 60%;
    border: 1px solid black;
    background-color: crimson;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
    position: absolute;
}
.libre1{
    z-index: 3;/*Posisionamiento enfrente o atras de los objetos*/
}
.libre2{
    background-color: rgb(0, 255, 76);
    top: 280px;
    left: 60%;
    z-index: 2; /*Posisionamiento enfrente o atras de los objetos*/
}
.fija{
    position: fixed;/*es parecida a la posision absoluta, pero en cambio esta estara fija en la pantalla, se moverá con forme se mueva el scroll*/
    top:50%;
    left: 0px;

    border: 1px solid black;
    background-color: blue;
    color: white;
    width: 50px;
    height: 50px;
    font-size: 13px;
}
}