*{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 40px;
}

#cajas{
    width: 1035px;
    border: 1px solid black;
}
.caja{
    display: block;
    width: 200px;
    height: 150px;
    background-color: lightblue;
    border: 10px solid green;
    margin: 15px;
    margin-top: 50px;
    padding: 20px;
    float: left;
}

.caja p{
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150px;
}

.clearfix{
    float: none;
    clear: both;
}