body {
  text-align: center;
  font-family: sans-serif;
}
/* -------------EJERCICIO COMPLETO CON GRID AREAS------------------ */
#website-areas * {
  margin: 0px;
  padding: 0px;
}
#website-areas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 150px 70px 1fr 70px;
  /* aqui empieza grid areas, se pone la sigiente propiedad con el nombre de un identificador en este caso "cabecera" y se repite, la cantidad de veces que se repita sera la cantidad de columnas, despues ese identificador se debe agregar como "grid-area: cabecera;" al elemento que le querramos agregar esa area ( se puede poner la propiedad . y esto significa que hay un espacio ahi)*/ /* ojo "grid-template-areas:...." va dentro del grid master */
  grid-template-areas:
    "cabecera cabecera cabecera cabecera cabecera"
    "menu menu menu menu menu"
    "contenido contenido contenido contenido lateral"
    "pie pie pie pie lateral"; /* se pueden conbinar y acomodar como quieramos por ejemplo "pie" al final solo seran 4 columnas de pie y agregue "lateral" y este ultimo se expandira hacia abajo*/
  /* grid-column-gap: 20px; */ /* es un margen solo a nivel de columnas */
  /* grid-row-gap: 20px; */ /* es un margen solo a nivel de filas */
  /* grid-gap: 20px; */ /* es un margen solo a nivel de lineas y columnas*/
  /* los gab solo funcionan en el grid principal o grid master */
  width: 75%;
  height: 1000px; /* altura del navegador, (viewport height) */
  margin: 0px auto;
  border: 1px solid #ccc;
}
/* para centrar un elemnto en vertical con grid es necesario del uso de flexbox */
#website-areas #cabecera {
  grid-area: cabecera; /* esto es un grid area con identificador */
  display: flex; /* convierto la cabecera en flex y agrego propiedades de flex box para centrar el contenido */
  justify-content: center; /* centra todos los elementos que se encuentran dentro del flex master pero de izquierda a derecha */
  align-items: center; /* esta propiedad es de flexbox y centra los elementos en vertical, esta se usa en el flex master osea en la caja que contiene otras cajas */
  background: blue;
  color: white;
}
#website-areas #cabecera h1 {
  /* la siguiente propiedad ayuda a centrar en vertical los elemntos en el area que se encuentran, solo se usa en elementos que se encuentran dentro de un flex */
  align-self: center; /* con esto se centra en flex y se debe poner tambien en grid para que se centre ya que grid por si solo no se puede */
}
#website-areas #menu {
  grid-area: menu;
  background: lightblue;
  color: black;
  line-height: 70px;
}

#website-areas #menu ul {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#website-areas #contenido {
  grid-area: contenido;
  display: grid; /* meti un grid dentro de otro grid ya creado */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  padding: 20px;
  background: #eee;
}

#website-areas #contenido article {
  background: #ccc;
  border: 1px solid #555;
}

#website-areas #lateral {
  grid-area: lateral;
  background: orange;
  color: white;
}

#website-areas #piepagina {
  grid-area: pie;
  background: black;
  color: white;
}
/* --------------------EJERCICIO COMPLETO CON GRID----------------------- */
#website * {
  margin: 0px;
  padding: 0px;
}
#website {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 150px 70px 1fr 70px;
  width: 75%;
  height: 1000px; /* altura del navegador, (viewport height) */
  margin: 0px auto;
  border: 1px solid #ccc;
}
/* para centrar un elemnto en vertical con grid es necesario del uso de flexbox */
#website #cabecera {
  display: flex; /* convierto la cabecera en flex y agrego propiedades de flex box para centrar el contenido */
  justify-content: center; /* centra todos los elementos que se encuentran dentro del flex master pero de izquierda a derecha */
  align-items: center; /* esta propiedad es de flexbox y centra los elementos en vertical, esta se usa en el flex master osea en la caja que contiene otras cajas */
  grid-column: 1 / 6; /* se expande la cabecera de la columna 1 a la 6 */
  background: blue;
  color: white;
}
#website #cabecera h1 {
  /* la siguiente propiedad ayuda a centrar en vertical los elemntos en el area que se encuentran, solo se usa en elementos que se encuentran dentro de un flex */
  align-self: center; /* con esto se centra en flex y se debe poner tambien en grid para que se centre ya que grid por si solo no se puede */
}
#website #menu {
  grid-column: 1 / 6;
  background: lightblue;
  color: black;
  line-height: 70px;
}

#website #menu ul {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#website #contenido {
  grid-column: 1 / 5;
  display: grid; /* meti un grid dentro de otro grid ya creado */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  padding: 20px;
  background: #eee;
}

#website #contenido article {
  background: #ccc;
  border: 1px solid #555;
}

#website #lateral {
  grid-column: 5 / 6;
  background: orange;
  color: white;
}

#website #piepagina {
  grid-column: 1 / 6;
  background: black;
  color: white;
}
/* --------------------EJEMPLOS GRID-------------------------------------------------------- */
.layout {
  width: 80%; /* si se maneja el ancho en % el grid se hace completamente responsive */
  margin: 0px auto;
  height: 600px;
  display: grid; /* asi se define para que un elemento sea grid */
  grid-gap: 10px; /* este es como un tipo margin para grid (espacio entre elementos) */
  /* grid-template-columns: calc(50% - 10px) calc(50% - 10px); */ /* esto es para que los elementos se pongan uno a un lado del otro (en este caso se define por columnas y se estan definiendo que abrá 2 columnas pero el tamaño se le puso con un calculo)*/
  /* grid-template-columns: 50% 25%; */ /* dependiendo al numero de columnas se debe hacer el calculo de los tamaños que se quiere */
  /* grid-template-columns: repeat(
    4,
    calc(25% - 10px)
  ); */ /* aqui hacemos lo mismo que arriba pero en este caso se hace una funcion para que las cuatro columnas tengan un 25% de un solo golpe, en lugar de escribi 25% 25% 25% 25% (se le agrego un calc solo para quitar grid-gab)*/
  /* grid-template-columns: 
    repeat(2, calc(25% - 10px))
    15% 35%;*/ /* aqui es otra manera de hacer lo de el tamaño de las columnas, las primeras dos columnas se les da un tamaño con una funcion ya que sera el mismo tamaño y las otras dos columnas se les da una funcion normal en porcentaje */
  grid-template-columns: 1fr 1fr 1fr; /* esta es una nueva forma de separar columnas, en si cada fr o fraccion es una columna y se van acomodando igual automaticamente (de igual manera se puede hacer lo del repeat(4, 1fr))*/
  grid-template-rows: repeat(2, 1fr) 3fr repeat(2, 1fr); /* esta propiedad define filas */
  border: 3px solid orangered;
  padding: 10px;
}

.layout .caja {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 20px;
  border: 4px solid #222;
  background: gray;
}

.layout .red {
  /* lo siguiente es para expandir una caja hacia otra y que la siguiente se baje (esto se hace en el elemento que se quiere espandir) */
  grid-column-start: 1;
  grid-column-end: 4;
  /* eso quiere decir que .layout .red desde la linea uno se va a expandir hasta la linea 4, para ver las lineas hay que inspeccionar el elemnto y ver el grid en "Disposicion"*/
  background: red;
}

.layout .green {
  background: green;
  grid-row: 2 / 6;
}

.layout .blue {
  background: blue;
  grid-column: 2 / 4;
}

.layout .pink {
  background: pink;
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}
.layout .lightblue {
  background: lightblue;
  grid-row: 3 / 5;
}
.layout .orange {
  background: orange;
  /* grid-column-start: 1;
  grid-column-end: 4; */ /* estas propiedades se pueden definir en una sola */
  grid-column: 2 / 4; /* esta propiedad hace lo mismo que las potras dos pero resumida (se puede hacer tambien al reves (2 / 4) es cuestion de experimentar*/
}
